In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.head()

   sepallength  sepalwidth  petallength  petalwidth      Flowers
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [4]:
flower_types = data['Flowers'].unique()
attibute_types = data.columns[:-1]

In [5]:
print(attibute_types)
# e7100789cc7af7970cbb1536ac8df1eb95be84c2

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth'], dtype='object')

In [6]:
stats2 = pd.DataFrame(index=flower_types, columns=pd.MultiIndex.from_product([['mean', 'std'], 
[attibute_type for attibute_type in attibute_types]]))
# stats2.head()

In [7]:
for flower in flower_types:
    for attribute in attibute_types:
        stats2.loc[flower, ('mean', attribute)] = data[data['Flowers'] == flower][attribute].mean()
        stats2.loc[flower, ('std', attribute)] = data[data['Flowers'] == flower][attribute].std()
stats2.head()

                       mean                                           std  \
                sepallength sepalwidth petallength petalwidth sepallength
Iris-setosa           5.006      3.418       1.464      0.244     0.35249
Iris-versicolor       5.936       2.77        4.26      1.326    0.516171
Iris-virginica        6.588      2.974       5.552      2.026     0.63588


                sepalwidth petallength petalwidth
Iris-setosa       0.381024    0.173511    0.10721
Iris-versicolor   0.313798    0.469911   0.197753
Iris-virginica    0.322497    0.551895    0.27465